/*variables*/
:root{
	--sansFontFamily: 'Martel Sans', sans-serif;
	--robotoFontFamily:'Roboto', sans-serif;
	--grayFontColor: #808080;
	--grayHoverFontColor:#e4e4e4;
	--whiteIconBackground:#F6F6F6;
	--darkGrayBackground:#141414;
}
/*global styles*/
*{
	margin:0px;
	padding:0px;
}
.grid-container{
	display:grid;
	grid-template-columns:repeat(4,25%);
	background:var(--darkGrayBackground);
	font-family:var(--robotoFontFamily);
}
