
/*main*/
main{
	grid-column:1/5;
	min-height:calc(100vh - 70px);
	height:auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.profile-container{
	max-width:550px;
	width:90%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.profile-container h1{
	font-size:48px;
	color:#fff;
}

.profile-container__buttons{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	margin:10px 0px;
}
.profile__container__buttons-item{
	height:180px;
	width:135px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:15px;
}
.profile__container__buttons-item a{
	text-decoration:none;
}
.profile__container__buttons-item h4{
	margin:9px;
	color:var(--grayFontColor);
	text-align:center;
}
.profile__container__buttons-item img{
	border-radius:4px;
}
.add-icon-container{
	height:135px;
	width:135px;
	border-radius:4px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.add-icon{
	height:90px;
}
.profile__container__buttons-item:hover{
	cursor:pointer;
}
.profile__container__buttons-item:hover img{
	color:var(--grayHoverFontColor);
	outline:solid var(--grayHoverFontColor);
}
.profile__container__buttons-item:hover h4{
	color:var(--grayHoverFontColor);
}
.profile__container__buttons-item:hover .add-icon-container{
	background:var(--grayHoverFontColor);
}
/*admin profile container area*/
.admin-profile__container{
	max-width:550px;
	width:90%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.btn-admin-profile{
	width:240px;
	height:40px;
	font-size:17px;
	letter-spacing:2px;
	margin:28px 0px;
	border:1px solid #808080;
	background:none;
	color:var(--grayFontColor);
}
.btn-admin-profile:hover{
	cursor:pointer;
	color:var(--grayHoverFontColor);
	border:1px solid var(--grayHoverFontColor);
}

@media screen and (max-width:630px){
	.profile-container{
		margin-top:40px;
	}
	.profile__container__buttons-item{
		height:150px;
		width:105px;
	}
	.profile-image{
		width:105px;
		height:105px;
	}
	.profile-container h1{
		font-size:28px;
		text-align:center;
	}
	.add-icon-container{
		width:105px;
	}
}

